In [1]:
import numpy as np
import pandas as pd
import re

### 1. Write a function named `is_vowel`. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of `re.search` as a boolean value that indicates whether or not the regular expression matches the given string.

In [224]:
regexp = r'[aeiou]+'
string = 'NsdkAssd da13dQo'

re.findall(regexp, string, re.IGNORECASE)

['A', 'a', 'o']

In [225]:
re.findall(regexp, string, re.IGNORECASE)

['A', 'a', 'o']

In [226]:
def is_vowel(string):
    """
    Function takes in a string and detemines whether string is a vowel or not.
    """
    regexp = r'[aeiou]'
    if len(re.findall(regexp, string, re.IGNORECASE)) < 1:
        print('String is not a vowel')
    else:
        print("String is a vowel")

In [232]:
is_vowel('D')

String is not a vowel

In [233]:
is_vowel('A')

String is a vowel

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [234]:
regexp = r'^[a-z][0-9a-z_]{,31}$'
string = 'sdsdk3s_sdWda13doasasassasassss'

re.findall(regexp, string)

[]

In [235]:
def is_valid_username(string):
    regexp = r'^[a-z][0-9a-z_]{1,31}$'
    if len(re.findall(regexp, string)) > 0:
        print(True)
    else:
        print(False)

In [236]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

is_valid_username('codeup')

is_valid_username('Codeup')

is_valid_username('codeup123')

is_valid_username('1codeup')

False
True
False
True
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
> (210) 867 5309\
> +1 210.867.5309\
> 867-5309\
> 210-867-5309

In [239]:
regexp = r'\d+'
number = '(210) 867 5309)'

re.findall(regexp, number)

['210', '867', '5309']

In [240]:
number = '+1 210.867.5309'

re.findall(regexp, number)

['1', '210', '867', '5309']

In [142]:
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)
In [12]:
df.number.str.extract(phone_regex)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

> 02/04/19 
\
> 02/05/19
\
> 02/06/19
\
> 02/07/19
\
> 02/08/19
\
> 02/09/19
\
> 02/10/19

In [181]:
dates = pd.Series(['02/04/19',
           '02/05/19',
           '02/06/19',
           '02/07/19',
           '02/08/19',
           '02/09/19',
           '02/10/19'
          ])
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [183]:
regexp = r'(\d{2})/(\d{2})/(\d{2})'
dates.str.replace(regexp, r'\3-\1-\2')

0    19-02-04
1    19-02-05
2    19-02-06
3    19-02-07
4    19-02-08
5    19-02-09
6    19-02-10
dtype: object

### 5. Write a regex to extract the various parts of these logfile lines:

>GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
\
>POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
\
>GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [219]:
df = pd.DataFrame()
df['text'] = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
])

regexp = r'(\S*)/s'
df.text.str.extract(regexp)

         0
0  /api/v1
1      NaN
2      NaN

In [189]:
log_files[1]

'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'